<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Select Tables</title>
  </head>
  <body>
    <h1>Select table</h1>
    <ul>
      <li><a href="http://localhost:3000/html/customer">Customer</a></li>
      <li><a href="http://localhost:3000/html/category">Category</a></li>
      <li><a href="http://localhost:3000/html/store">Store</a></li>
      <li><a
          href="http://localhost:3000/html/manufacturers"
        >Manufacturers</a></li>
      <li><a href="http://localhost:3000/html/products">Products</a></li>
      <li><a href="http://localhost:3000/html/delivery">Deliveries</a></li>
      <li><a href="http://localhost:3000/html/purchases">Purchases</a></li>
    </ul>
  </body>
</html>