<html>
  <head>
    <title>List Category</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>List Category</h1>
    <table>
      <tr><th>CategoryID</th><th>CategoryeName</th></tr>
      {{#each category}}
        <tr><td>{{this.category_id}}</td><td>{{this.category_name}}</td></tr>
      {{/each}}
    </table>

    <h1>Add Category</h1>
    <form action="../category" method="POST">
      <label>CategoryeName</label>
      <input type="text" name="category_name" /><br /><br />
      <input type="submit" value="Add Categorye" />
    </form>

    <h1>Update Category</h1>
    <form action="../category?_method=PUT" method="POST">
      <label>CategoryID</label>
      <input type="number" name="category_id" /><br /><br />
      <label>CategoryName</label>
      <input type="text" name="category_name" /><br /><br />
      <input type="submit" value="Update Category" />
    </form>

    <h1>Delete Category</h1>
    {{! <form action="../customer/<?" method="DELETE"> }}
    <label>CategoryeID</label>
    <input id="category_id" type="number" name="category_id" /><br /><br />
    <input type="submit" onClick="deleteCust()" value="Delete Categorye" />
    {{! </form> }}
    <script>
      deleteCust = () => { let ID =
      document.getElementById("category_id").value; console.log(ID);
      fetch(`http://localhost:3000/category/${ID}`, { method: 'DELETE', });
      window.location.reload(); }
    </script>
  </body>
</html>